<section>
	<h1>Update Your Password</h1>
	<form novalidate="novalidate" ng-submit="vm.updatePassword()">
		<div class="form-group">
			<label for="current-password" class="control-label">Current Password</label>
			<input type="password" name="currentPassword" id="current-password" class="form-control" ng-model="vm.model.currPass" ng-minlength="6" required="required">
		</div>
		<div class="form-group">
			<label for="new-password" class="control-label">New Password</label>
			<input type="password" name="newPassword" id="new-password" class="form-control" ng-model="vm.model.newPass" ng-minlength="6" required="required">
		</div>
		<div class="form-group">
			<label for="confirm-new-password" class="control-label">Confirm New Password</label>
			<input type="password" name="confirmNewPassword" id="confirm-current-password" class="form-control" ng-model="vm.model.confirmNewPass" ng-minlength="6" required="required">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ladda="vm.submitted" data-style="expand-right">UPDATE</button>
			<button type="reset" class="btn btn-primary hide" id="reset">CANCEL</button>
			<p class="help-block">{{ vm.response }}</p>
		</div>
	</form>
</section>