<section>
	<h1>Login</h1>
	<form novalidate="novalidate" ng-submit="vm.loginUser()">
		<div class="form-group">
			<label for="email" class="control-label">Email *</label>
			<input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="vm.model.email" required>
		</div>
		<div class="form-group">
			<label for="password" class="control-label">Password *</label>
			<input type="password" name="password" class="form-control" id="password" ng-model="vm.model.password" required ng-minlength="6">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" ladda="vm.submitting" data-style="expand-right">LOGIN</button>
			<button type="reset" class="btn btn-primary hide" id="reset">RESET</button>
			<a href="forgot-password">Forgot Password</a>&nbsp;|&nbsp;
			<a href="register">Register</a>
		</div>
	</form>
	<p class="help-block" ng-show="vm.response">{{ vm.response }}</p>
</section>