<section>
	<div class="row">
		<div class="col-sm-6">
			<h2>First Time User</h2>
			<p class="help-block">Please register and fill the application form in order to apply to a job or to keep your CV for future vacancies</p>
			<a href="register" class="btn btn-primary">REGISTER</a>
		</div>
		<div class="col-sm-6">
			<h2>Already Registered</h2>
			<p class="help-block">Please login to access and update your information or to apply to a job</p>
			<a href="login" class="btn btn-primary">LOGIN</a>
		</div>
	</div>

	<h2>Opening Vacancies</h2>
	<div class="row">
		<div class="col-md-3">
			<h2 class="remove--mt">Search</h2>
		</div>
		<div class="col-md-9">
			<input type="text" class="form-control" id="search" placeholder="Search for jobs" ng-model="vm.search">
		</div>
		<div class="col-xs-12 table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Job Position</th>
						<th>Closing Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="job in vm.jobs | filter:vm.search">
						<td>{{ job.id }}</td>
						<td><a href="job/{{job.id}}">{{ job.title }}</a></td>
						<td>{{ job.date }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>